{% extends 'base.html.twig' %}


{% block body %}
    {% for post in authors %}
        <p>{{ post.id }}</p>
        <p>{{ post.author }}</p>
        <p>{{ post.book}}</p>
    {% endfor %}
{% endblock %}
