{% extends 'base.html.twig' %}


{% block body %}
    {% for post in authors %}
        <p>{{ post.id }}</p>
        <p>{{ post.author_id }}</p>
        <p>{{ post.book_id }}</p>
    {% endfor %}
{% endblock %}
